#img{
    position: relative;
    overflow: hidden;
    object-fit: contain;
}

#img-container{
  position: relative;
  text-align: center;
  color: white;
  width: 100%;
  height: 93.25vh;
  overflow: hidden;
}

#nav{
    background-color: rgb(9, 15, 27);
    font-family: 'Lato', sans-serif;
    
}

#overlay{
  
  color: aliceblue;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Lato', sans-serif;
  font-size: 100px;
  width: 90vw;
  opacity: 70%;
  margin: 0;
  padding: 0;
}

#btn{
  color: aliceblue;
  font-family: 'Lato', sans-serif;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 70%;
  font-size: 30px;
  width: 300px;
  height: 100px;
  border-width: 5px;
}

nav a {
  color: rgba(240, 248, 255, 0.8) !important;
  font-family: 'Lato', sans-serif;
}

.custom-toggler.navbar-toggler {
  border-color: rgba(240, 248, 255, 0.8);
}
/* Setting the stroke to green using rgb values (0, 128, 0) */

.custom-toggler .navbar-toggler-icon {
  background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(240, 248, 255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

#img-container{
  background-image: url('./assets/hintergrund.jpg');
  background-size: cover;
  background-position: center;
}